#Builtapplicationfiles
.DS_Store
*.apk
*.ap_
#FilesfortheART/DalvikVM
*.dex
#Javaclassfiles
*.class
#Generatedfiles
bin/
gen/
out/
#Gradlefiles
.gradle/
.idea/
build/
#Localconfigurationfile(sdkpath,etc)
local.properties
#ProguardfoldergeneratedbyEclipse
proguard/
#LogFiles
*.log
#AndroidStudioNavigationeditortempfiles
.navigation/
#AndroidStudiocapturesfolder
captures/
#Intellij
*.iml
.idea/workspace.xml
.idea/libraries
#Keystorefiles
*.jks
keystore.properties
repo-local/
probe/localRepository/